In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns

pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [2]:
ab = pd.read_excel(r"D:\Notebooks\run only EDA\Data_Science-main\Data\airbnb_host_searches.xlsx").drop('id',axis=1)
ab.head()

,price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,city,host_identity_verified,host_response_rate,host_since,neighbourhood,number_of_reviews,review_scores_rating,zipcode,bedrooms,beds
0,621.46,House,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",8,3,Real Bed,strict,True,LA,f,1.0,2016-11-01,Pacific Palisades,1,NaN,90272,4,6
1,621.46,House,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",8,3,Real Bed,strict,True,LA,f,1.0,2016-11-01,Pacific Palisades,1,NaN,90272,4,6
2,598.90,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",7,2,Real Bed,strict,False,NYC,f,1.0,2017-07-03,Hell's Kitchen,1,60.0,10036,3,4
3,420.47,House,Private room,"{""Wireless Internet"",""Air conditioning"",Pool,K...",1,2,Real Bed,flexible,False,LA,f,1.0,2016-04-20,NaN,0,NaN,91748,1,1
4,478.75,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Heatin...",2,1,Real Bed,flexible,True,NYC,f,1.0,2017-10-07,Williamsburg,2,100.0,11206,1,1

In [3]:
ab.duplicated().value_counts()

False    160
True       7
Name: count, dtype: int64

In [4]:
ab2=ab.drop_duplicates()
ab2.duplicated().value_counts()

False    160
Name: count, dtype: int64

In [5]:
ab2.dtypes

price                            float64
property_type                     object
room_type                         object
amenities                         object
accommodates                       int64
bathrooms                          int64
bed_type                          object
cancellation_policy               object
cleaning_fee                        bool
city                              object
host_identity_verified            object
host_response_rate               float64
host_since                datetime64[ns]
neighbourhood                     object
number_of_reviews                  int64
review_scores_rating             float64
zipcode                            int64
bedrooms                           int64
beds                               int64
dtype: object

In [6]:

ab2['host_id'] = str(ab2['price'])+ab2['room_type']+str(ab2['host_since'])+str(ab2['zipcode'])+str(ab2['number_of_reviews'])
ab2.head()

,price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,city,host_identity_verified,host_response_rate,host_since,neighbourhood,number_of_reviews,review_scores_rating,zipcode,bedrooms,beds,host_id
0,621.46,House,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",8,3,Real Bed,strict,True,LA,f,1.0,2016-11-01,Pacific Palisades,1,NaN,90272,4,6,0 621.46\n2 598.90\n3 420.47\n4...
2,598.90,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",7,2,Real Bed,strict,False,NYC,f,1.0,2017-07-03,Hell's Kitchen,1,60.0,10036,3,4,0 621.46\n2 598.90\n3 420.47\n4...
3,420.47,House,Private room,"{""Wireless Internet"",""Air conditioning"",Pool,K...",1,2,Real Bed,flexible,False,LA,f,1.0,2016-04-20,NaN,0,NaN,91748,1,1,0 621.46\n2 598.90\n3 420.47\n4...
4,478.75,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Heatin...",2,1,Real Bed,flexible,True,NYC,f,1.0,2017-10-07,Williamsburg,2,100.0,11206,1,1,0 621.46\n2 598.90\n3 420.47\n4...
5,662.01,Apartment,Entire home/apt,"{TV,Internet,""Wireless Internet"",""Air conditio...",6,1,Real Bed,flexible,False,SF,f,NaN,2016-01-20,Cow Hollow,0,NaN,94123,3,3,0 621.46\n2 598.90\n3 420.47\n4...

In [7]:
ab2['host_popularity'] = ab2['number_of_reviews'].apply(lambda x: 'New' if x==0
                                                       else 'Rising' if x>=1 and x<=5
                                                        else 'Trending Up' if x>=6 and x<=15
                                                        else 'Popular' if x>=16 and x<=40
                                                        else 'Hot'
                                                       )

In [8]:
summary = ab2.pivot_table(index='host_popularity',values='price',aggfunc={'price':['min','mean','max']}).reset_index()
summary.rename(columns={'max':'max_price',
                       'min':'min_price',
                       'mean':'avg_price'})

  host_popularity  max_price   avg_price  min_price
0             Hot     633.51  464.233158     340.12
1             New     741.76  515.919714     313.55
2         Popular     667.83  472.815000     270.81
3          Rising     717.01  503.846585     355.53
4     Trending Up     685.65  476.277179     361.09

In [9]:

ab = pd.read_excel(r"D:\Notebooks\run only EDA\Data_Science-main\Data\airbnb_contacts.xlsx")
ab.head()

,id_guest,id_host,id_listing,ts_contact_at,ts_reply_at,ts_accepted_at,ts_booking_at,ds_checkin,ds_checkout,n_guests,n_messages
0,86b39b70-965b-479d-a0b0-719b195acea2,1dfb22ec-c20e-4bf9-b161-1607afa25c5a,d668de42-122a-45cd-b91f-91a70895f902,2014-04-18 09:32:23,2014-04-18 09:39:06,NaT,NaT,2014-12-31,2015-01-02,7,5.0
1,14f943bb-74e9-458b-be55-203dc7220688,3347390d-8670-4870-9dab-da30f3700141,14c47fb8-e831-4044-9674-9b3fd0499193,2014-10-06 06:55:45,2014-10-06 10:06:38,2014-10-06 10:06:38,2014-10-06 10:06:38,2014-11-03,2014-11-07,2,8.0
2,425aa1ed-82ab-4ecf-b62f-d61e1848706d,02cafb86-5445-45cc-80f2-405291578356,c5a4a913-a094-4a9d-82e2-0b2d4f9d9eeb,2014-10-04 05:02:39,2014-10-04 23:10:01,NaT,NaT,2014-11-02,2014-11-09,2,2.0
3,bb490ede-8a70-4d61-a2e8-625855a393e2,f49c3095-58de-4b8d-9d5b-3bfceceb47d8,27f4b429-d544-464f-b4b5-3c09fd5992e7,2014-08-31 11:46:11,2014-08-31 16:48:28,NaT,NaT,2014-11-03,2014-11-07,2,5.0
4,b2fda15a-89bb-4e6e-ae81-8b21598e2482,71f1d49e-2ff4-4d72-b8e6-fd4c67feaa74,95fb78ca-8e6e-436a-9830-949d995ad14f,2014-10-08 15:07:56,2014-10-08 15:32:12,2014-10-08 15:32:12,2014-10-08 22:21:41,2014-11-06,2014-11-09,2,10.0

In [10]:
ab_agg=ab.pivot_table(index='id_guest',values='n_messages',aggfunc='sum').reset_index().sort_values(by='n_messages',ascending=False)
ab_agg

                                id_guest  n_messages
48  882f3764-05cc-436a-b23b-93fea22ea847        20.0
31  62d09c95-c3d2-44e6-9081-a3485618227d        20.0
68  b8831610-31f2-4c58-8ada-63b3601ca476        17.0
51  91c2a883-04e3-4bbb-a7bb-620531318ab1        17.0
30  6133fb99-2391-4d4b-a077-bae40581f925        16.0
72  bdaf2e68-86dd-40d9-a5a1-9cc95ea25d91        16.0
56  9b145027-2723-4c5f-988c-b5118c899912        15.0
76  d328a4a0-df5f-4851-a864-a8845b45c1e0        15.0
53  94139517-e7e9-4afb-8b5d-bb6f306bf751        15.0
37  6c541a87-d864-4de8-ae05-70ae57b50976        13.0
6   136c10f8-af53-4e5a-a5b3-d9c9c495b166        13.0
45  8375dde4-0de9-402c-8833-2127c1504601        11.0
28  5dacf820-a573-4ce2-9fd8-0d7ed979b822        11.0
36  6a8cf97f-8a77-4b55-b79a-b560bca414a4        10.0
71  bd8f3dd6-fecc-479a-a88f-1d0049600e9f        10.0
64  b2fda15a-89bb-4e6e-ae81-8b21598e2482        10.0
16  29ef2346-5fda-45d7-b4ed-eb34967a62b3         9.0
4   125242de-91b4-43bd-a926-75ae4b7a9322         9.0
29  5ed478e0-eae9-4537-826a-04ec779c1fd2         9.0
46  845e3c1d-6c06-4ef2-ade5-7eecefb56fbe         9.0
27  5c4b64d5-4869-4a02-b36c-c451758559e0         8.0
1   02f0a750-34da-4268-94e8-f1a371f0460e         8.0
44  7e309181-e61e-426b-baef-dd031d5660d3         8.0
75  ca6a9321-d7f9-42e9-aeb1-5d1832034da0         8.0
40  70180687-5888-4946-9578-83ab678cb997         8.0
77  d418a1ab-b181-40a7-90fe-7216e40dc354         8.0
62  aa9cf5bf-5667-4212-8018-1cb8beee530e         8.0
34  67aece73-e112-4e9e-9e05-8a2a94b003b9         8.0
14  25cfc206-89aa-4e63-b2f4-3cbb8631d9fb         8.0
7   14f943bb-74e9-458b-be55-203dc7220688         8.0
91  f4602827-8672-4545-8887-43702f8c7ecc         7.0
66  b6a8b1f9-5b40-4edd-91f3-ee522b0f9e5b         7.0
32  673af82f-6a4d-4fd5-8485-4459670da9bc         7.0
49  8af13d02-bd2c-40fd-afd7-e4fe3a6a622e         6.0
86  eaa8118b-aba6-4c25-96cd-c72f01d6b063         6.0
94  fad1a097-a511-4f44-a603-6a271c1f159e         6.0
78  d528e24b-7c1f-446f-9bb0-a4ecb77c3acd         5.0
89  eda96881-7b23-413a-9f6f-b45dc9fe2a5b         5.0
50  8d23aa41-c77c-4bbe-98bc-66abecfefbfe         5.0
70  bb490ede-8a70-4d61-a2e8-625855a393e2         5.0
25  4ec2c8ec-9325-4b66-a370-820a56fbd1a3         5.0
47  86b39b70-965b-479d-a0b0-719b195acea2         5.0
15  2889fccc-37ab-4a66-8d64-41b31314c7fc         5.0
42  72f07b78-99e1-46ac-8452-19dd2053eca3         5.0
10  176a2fb8-1de3-483a-92a3-34a826a91f5a         5.0
20  3e6c2466-74fe-44c0-a6f3-dda79755d30a         5.0
79  d61d88ae-7910-4832-8116-aab4603ab3b0         5.0
58  a03f86ca-5c44-4e66-8695-71c380cfc48b         4.0
92  f54989cf-459b-409d-be6a-9534a53cc4a9         4.0
3   0f4ea370-702c-4f08-a00d-98e67c2a3574         4.0
59  a09bf912-b21d-4859-b194-8512c30695f6         4.0
60  a1a53da7-7a33-4693-8568-1d7f2cd32e31         4.0
61  a9f7ffb1-4970-492b-b448-4bd9d0fbeef3         4.0
12  1a66fe1c-fea6-4ec6-96c4-3ea3e0c7815e         4.0
52  924f864f-db83-4945-9a65-cf42a657ca68         4.0
13  20418fda-ffb2-46a3-9581-863725497c05         4.0
41  70a2c590-f854-4ca6-adf5-03fc081cfddf         4.0
39  6cbb33d1-6ecc-4f74-8b6a-a43d07d484b6         4.0
19  3c3ec192-acd7-4c91-8e82-18cff7d859ec         4.0
21  3e6fbc52-3e54-4a74-9ca1-7ce13048aab7         4.0
33  679d857b-08b8-4748-b703-86735aa42296         4.0
82  e3cdd90a-8097-4220-9722-2b914d761a84         4.0
81  e0d259e6-1b67-4964-a6dc-e8a8c69d3e01         4.0
69  b91e6323-bd26-4172-9070-1a4993fdc397         4.0
90  f1877c99-430e-41e1-818a-713ff82f09da         3.0
74  c0075f4f-0cb0-489b-9f12-bf1dff573488         3.0
88  ebe81cf8-6037-43f2-81d2-fd386f5da74f         3.0
84  e8e41881-d3bf-4f1e-b55e-6052eae23ef6         3.0
95  ffc234be-ca13-4bcb-a472-1c136b800891         3.0
67  b8285e97-9f11-4aec-bb05-e21f612ee41f         3.0
57  9e5e2865-f257-4d19-9f79-9388ae925ad7         3.0
55  9a45a950-b4f7-4f16-abe6-f9286abf2641         3.0
9   1759c05e-f12a-4eaa-8059-3bcaca443c88         3.0
26  598f8459-96f6-4400-8bce-1474757dd589         3.0
17  2acf0e64-9da0-47c9-b0f9-1eceab379f84         3.0
83  e764ddb5-126e-4474-8e4e-4bdc330b51d1         2.0
2   0a8e121b-c09c-4de1-abcc-81bce87de29e         2.0
93  f5ba8f82-682e-4ec9-9c6e-cedc2cd628ca         2.0
5   126ed661-fa20-4041-ac16-ec118bbcce3b         2.0
8   15eb6f98-98ee-491e-8eeb-b5e2c61bfd8a         2.0
11  18d343e3-0ef0-4bb7-8cd9-b83d3fbbb82f         2.0
87  eb3500c2-b0b9-4753-8ab3-3fad4d5777f1         2.0
22  425aa1ed-82ab-4ecf-b62f-d61e1848706d         2.0
23  4995debc-b753-4401-b556-a2bcbb897eba         2.0
65  b3e35a8f-5503-4d78-adb8-7693097dfca7         2.0
24  4de8c8ea-728a-467a-aa69-4800e8880c95         2.0
80  e079182c-7628-4f49-8301-29ff8b4938ec         2.0
35  67c4e87c-8a8f-4da4-a965-b89c9d74666b         2.0
38  6cb23070-821b-467d-b4d0-af04645a0703         2.0
43  7424d151-b449-40e1-9e8f-c258289c581c         2.0
54  996d1871-8986-481b-8bbf-1a1420c68c90         2.0
73  be8a5e0c-e3fb-4517-a799-e1ed8a05b6e6         2.0
0   0187b377-ad1c-4da4-8a17-568b2c9098f4         2.0
85  ea445eea-3fac-4edd-b1d6-569f57f6abe4         1.0
63  b11cd744-101d-409b-9a55-7e151f2e79d5         1.0
18  37a63847-b09a-4f32-81a5-97cfb8e84c6d         0.0

In [11]:
ab_agg['rank'] = ab_agg['n_messages'].rank(ascending=False,method='dense')
ab_agg.head(10)

                                id_guest  n_messages  rank
48  882f3764-05cc-436a-b23b-93fea22ea847        20.0   1.0
31  62d09c95-c3d2-44e6-9081-a3485618227d        20.0   1.0
68  b8831610-31f2-4c58-8ada-63b3601ca476        17.0   2.0
51  91c2a883-04e3-4bbb-a7bb-620531318ab1        17.0   2.0
30  6133fb99-2391-4d4b-a077-bae40581f925        16.0   3.0
72  bdaf2e68-86dd-40d9-a5a1-9cc95ea25d91        16.0   3.0
56  9b145027-2723-4c5f-988c-b5118c899912        15.0   4.0
76  d328a4a0-df5f-4851-a864-a8845b45c1e0        15.0   4.0
53  94139517-e7e9-4afb-8b5d-bb6f306bf751        15.0   4.0
37  6c541a87-d864-4de8-ae05-70ae57b50976        13.0   5.0

In [12]:
fb = pd.read_excel(r"D:\Notebooks\run only EDA\Data_Science-main\Data\fb_friend_requests.xlsx").sort_values(['user_id_sender','date'])
fb

   user_id_sender user_id_receiver       date    action
0       ad4943sdz       948ksx123d 2020-01-04      sent
1       ad4943sdz       948ksx123d 2020-01-06  accepted
2      dfdfxf9483       9djjjd9283 2020-01-04      sent
3      dfdfxf9483       9djjjd9283 2020-01-15  accepted
4   ffdfff4234234      lpjzjdi4949 2020-01-06      sent
5     fffkfld9499      993lsldidif 2020-01-06      sent
6     fffkfld9499      993lsldidif 2020-01-10  accepted
7      fg503kdsdd        ofp049dkd 2020-01-04      sent
8      fg503kdsdd        ofp049dkd 2020-01-10  accepted
9      hh643dfert       847jfkf203 2020-01-04      sent
10     r4gfgf2344       234ddr4545 2020-01-06      sent
11     r4gfgf2344       234ddr4545 2020-01-11  accepted

In [13]:

sent = fb.query("action=='sent'")
sent

   user_id_sender user_id_receiver       date action
0       ad4943sdz       948ksx123d 2020-01-04   sent
2      dfdfxf9483       9djjjd9283 2020-01-04   sent
4   ffdfff4234234      lpjzjdi4949 2020-01-06   sent
5     fffkfld9499      993lsldidif 2020-01-06   sent
7      fg503kdsdd        ofp049dkd 2020-01-04   sent
9      hh643dfert       847jfkf203 2020-01-04   sent
10     r4gfgf2344       234ddr4545 2020-01-06   sent

In [14]:
accepted = fb.query("action=='accepted'")
accepted

   user_id_sender user_id_receiver       date    action
1       ad4943sdz       948ksx123d 2020-01-06  accepted
3      dfdfxf9483       9djjjd9283 2020-01-15  accepted
6     fffkfld9499      993lsldidif 2020-01-10  accepted
8      fg503kdsdd        ofp049dkd 2020-01-10  accepted
11     r4gfgf2344       234ddr4545 2020-01-11  accepted

In [15]:
combined = sent.merge(accepted,on=['user_id_sender','user_id_receiver'],how='left')
combined

  user_id_sender user_id_receiver     date_x action_x     date_y  action_y
0      ad4943sdz       948ksx123d 2020-01-04     sent 2020-01-06  accepted
1     dfdfxf9483       9djjjd9283 2020-01-04     sent 2020-01-15  accepted
2  ffdfff4234234      lpjzjdi4949 2020-01-06     sent        NaT       NaN
3    fffkfld9499      993lsldidif 2020-01-06     sent 2020-01-10  accepted
4     fg503kdsdd        ofp049dkd 2020-01-04     sent 2020-01-10  accepted
5     hh643dfert       847jfkf203 2020-01-04     sent        NaT       NaN
6     r4gfgf2344       234ddr4545 2020-01-06     sent 2020-01-11  accepted

In [16]:
summary = combined.pivot_table(index='date_x',values=['action_x','action_y'],aggfunc='count').reset_index()
summary['acceptance_rate'] = summary.action_y/summary.action_x
summary[['date_x','acceptance_rate']]

      date_x  acceptance_rate
0 2020-01-04         0.750000
1 2020-01-06         0.666667

In [17]:
fb = pd.read_excel(r"D:\Notebooks\run only EDA\Data_Science-main\Data\facebook_web_log.xlsx")
fb.head()

   user_id           timestamp       action
0        0 2019-04-25 13:30:15    page_load
1        0 2019-04-25 13:30:18    page_load
2        0 2019-04-25 13:30:40  scroll_down
3        0 2019-04-25 13:30:45    scroll_up
4        0 2019-04-25 13:31:10  scroll_down

In [18]:
fb = fb.query("action in ('page_load','page_exit')")
fb['page_exit'] = fb.apply(lambda x: x['timestamp'] if x['action']=='page_exit' else None, axis=1)
fb['page_load'] = fb.apply(lambda x: x['timestamp'] if x['action']=='page_load' else None, axis=1)
fb['page_loadN']=fb['page_load'].fillna(method='ffill')
fb = fb.dropna(subset=['page_exit'])

In [19]:
fb = fb[['user_id','page_exit','page_loadN']]
fb['sec_diff'] = (fb['page_exit']-fb['page_loadN']).dt.total_seconds()
fb

    user_id           page_exit          page_loadN  sec_diff
6         0 2019-04-25 13:31:40 2019-04-25 13:30:18      82.0
10        0 2019-04-28 15:31:40 2019-04-28 14:30:15    3685.0
17        1 2019-04-25 13:40:35 2019-04-25 13:40:00      35.0
22        1 2019-04-26 11:15:35 2019-04-26 11:15:00      35.0

In [20]:
fb.pivot_table(index='user_id',values='sec_diff',aggfunc='mean').reset_index()

   user_id  sec_diff
0        0    1883.5
1        1      35.0

In [21]:
df = pd.read_excel(r"D:\Notebooks\run only EDA\Data_Science-main\Data\google_file_store.xlsx")
df

     filename                                           contents
0  draft1.txt  The stock exchange predicts a bull market whic...
1  draft2.txt  The stock exchange predicts a bull market whic...
2   final.txt  The stock exchange predicts a bull market whic...

In [22]:
df['bull'] = df['contents'].apply(lambda x:x.count('bull'))
df['bear'] = df['contents'].apply(lambda x:x.count('bear'))
df['word'] = 'netry'
df

,filename,contents,bull,bear,word
0,draft1.txt,The stock exchange predicts a bull market whic...,1,0,netry
1,draft2.txt,The stock exchange predicts a bull market whic...,1,1,netry
2,final.txt,The stock exchange predicts a bull market whic...,1,1,netry

In [23]:
df.pivot_table(values=['bull','bear'],columns='word',aggfunc='sum').reset_index().sort_values(by='netry',ascending=False)

word index  netry
1     bull      3
0     bear      2

In [24]:

import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import GridSearchCV

In [25]:
data  = {"Income_K":[75,67,70,90,80]
         ,"Profession":["Salaried","Business","Salaried","Business","Salaried"]
        ,"Loan_Lakhs":[3,2,5,7,4]}

df = pd.DataFrame(data)
df

   Income_K Profession  Loan_Lakhs
0        75   Salaried           3
1        67   Business           2
2        70   Salaried           5
3        90   Business           7
4        80   Salaried           4

In [26]:
le = LabelEncoder()

In [27]:
df['prof_enc'] = le.fit_transform(df['Profession'])
df

   Income_K Profession  Loan_Lakhs  prof_enc
0        75   Salaried           3         1
1        67   Business           2         0
2        70   Salaried           5         1
3        90   Business           7         0
4        80   Salaried           4         1

In [28]:
x = df[['Income_K','prof_enc']]
y = df['Loan_Lakhs']

In [29]:
model = GradientBoostingRegressor(n_estimators=5)

In [30]:
model.fit(x,y)

GradientBoostingRegressor(n_estimators=5)

In [31]:
prediction = model.predict(x)

In [32]:
sum((y-prediction)**2)/len(y)

1.0972203386860002

In [33]:
params = {'n_estimators':range(1,200)}
grid = GridSearchCV(param_grid=params,estimator=model,cv=2, scoring='neg_mean_squared_error')

In [34]:
grid.fit(x,y)

GridSearchCV(cv=2, estimator=GradientBoostingRegressor(n_estimators=5),
             param_grid={'n_estimators': range(1, 200)},
             scoring='neg_mean_squared_error')

In [35]:
grid.best_estimator_

GradientBoostingRegressor(n_estimators=5)

In [36]:
gb = grid.best_estimator_

In [37]:
gb.fit(x,y)

GradientBoostingRegressor(n_estimators=5)

In [38]:
preodiction = gb.predict(x)

In [39]:
sum((y-prediction)**2)/len(y)

1.0972203386860002

In [40]:
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [41]:
salary = pd.read_excel(r"D:\Notebooks\run only EDA\Data_Science-main\Data\Salary.xlsx",sheet_name="Salary")
salary.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [42]:
X_train, X_test, y_train, y_test = train_test_split(salary[['YearsExperience']],salary.Salary,test_size=0.2,random_state=False)

In [43]:
y_test.shape

(7,)

In [44]:
model = LinearRegression()

In [45]:
model.fit(X_train,y_train)

LinearRegression()

In [46]:
model.predict(X_test)

array([120057.87672477,  88127.64484315,  73456.99776241, 118331.91824468,
        97620.41648363,  71731.03928232,  63101.24688189])

In [47]:
y_test

29    121872
20     91738
16     66029
28    122391
22    101302
15     67938
10     63218
Name: Salary, dtype: int64

In [48]:
model.score(X_test,y_test)

0.9708090245443415

In [49]:
def salary_predict(exp):
    return model.predict([[exp]])

In [50]:
exp = float(input("Enter your years of exp: "))
print("The salary you can expect is: ", salary_predict(exp))

Enter your years of exp: 5
The salary you can expect is:  [72594.01852237]

In [51]:
to_pred = pd.read_excel(r"D:\Notebooks\run only EDA\Data_Science-main\Data\Salary.xlsx",sheet_name="to_predict")

In [52]:
model.predict(to_pred)

array([ 59649.32992171,  98483.39572368, 135591.50304556,  63964.22612193,
        72594.01852237,  85538.70712302, 133002.56532543,  55334.43372149,
       202040.90452892, 158891.94252674, 137317.46152565, 115742.98052455,
       141632.35772586, 128687.66912521, 150262.1501263 ])

In [53]:
to_pred['predicted_salary']=model.predict(to_pred)
to_pred

    YearsExperience  predicted_salary
0               3.5      59649.329922
1               8.0      98483.395724
2              12.3     135591.503046
3               4.0      63964.226122
4               5.0      72594.018522
5               6.5      85538.707123
6              12.0     133002.565325
7               3.0      55334.433721
8              20.0     202040.904529
9              15.0     158891.942527
10             12.5     137317.461526
11             10.0     115742.980525
12             13.0     141632.357726
13             11.5     128687.669125
14             14.0     150262.150126